# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mjc-school\stage1-module4-collections-task3-map\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
